/****************************************department image**************************************************/
.departmentImage{
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}









/***********************************************department name*******************************************/
.departmentName{
    text-transform: capitalize;
    color: antiquewhite;
    font-size: 40px;
    letter-spacing: 4px;
    border-bottom: 5px solid antiquewhite;
    padding: 0 20px;
    border-radius: 50%;
    padding-bottom: 40px;
}











/******************************************  col strip after department image********************************/
.colStrip{
    box-shadow: 0 5px 10px black;
}













/***********************************************main content *************************************************/
.mainContent{
    display: flex;
    flex-wrap: wrap;
}












/***************************************side bar important links******************************************/
.sideBarWrapper{
    background-color: aquamarine;
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 30px;
    height: 500px;
    box-shadow: 0 0 20px black;
    margin: 5px;
}

.sideBarHeading{
    margin: 20px 0 2px 0;
    color: var(--baseColor);
    text-transform: capitalize;
    text-shadow: 0 0 10px rgb(0,0,0,0.7);
}

.sideBarHeadingUnderline{
    width: 90%;
    height: 2px;
    margin-bottom: 10px;
    background-color: var(--baseColor);
    box-shadow: 0 5px 10px rgb(0,0,0,0.9);
}

.sideBarLinks{
    width: 90%;
}

.sideBarLinkItem{
    background-color: rgb(204, 205, 255);
    font-size: 20px;
    border-radius: 20px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding: 7px 0;
    text-transform: capitalize;
    color: crimson;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.sideBarLinkItem a{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--baseColor);
}

.sideBarLinkItem:hover{
    background-color: rgb(248, 61, 61);
}

.sideBarLinkItem:hover a{
    color: rgb(2, 255, 133);
}

.sideBarLinkItemActive{
    background-color: rgb(248, 61, 61);
}
.sideBarLinkItemActive a{
    color: rgb(2, 255, 133);
}












/*****************************************i frame ***************************************************/
iframe{
    width: 78.0%;
    margin: 5px;
    margin-left: 8px;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
}
