/**********************************************heading******************************************************/

.heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.heading h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 45px;
    text-shadow: 0 2px 10px rgb(0,0,0,0.4);
}

.lineBar{
    height: 2px;
    background-color: black;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 10px black;
}










/********************************************** governance *********************************************/
.governance{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-transform: capitalize;
}



/******************************************vision heading*************************************************/
.visionHeading{
    font-size: 34px;
    margin-top: 25px;
}













/********************************************mission heading***********************************************/
.missionWrapper{
    margin: 60px auto;
}

.missionHeading{
    font-size: 34px;
    margin-top: 25px;
}

.missionText {
    font-size: 20px;
    margin: 15px 0;
    position: relative;
    left: 0;
}

.missionText::before{
    opacity: 0;
    visibility: 0;
}










/*************************************************quotes*****************************************************/
.aboutOpen{
    width: 90px;
    left: 20px;
}

.aboutClose{
    width: 90px;
    right: 20px;
}