/******************************************vision heading*************************************************/
.visionHeading{
    font-size: 34px;
    margin-top: 25px;
}













/********************************************mission heading***********************************************/
.missionWrapper{
    margin: 60px auto;
}

.missionHeading{
    font-size: 34px;
    margin-top: 25px;
}











/*************************************************quotes*****************************************************/
.aboutOpen{
    width: 90px;
    left: 20px;
}

.aboutClose{
    width: 90px;
    right: 20px;
}